<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO2 - izvještaj o emisijama</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <style>
        .reportGraphBar {
            width:800px;
            height: 390px;
        }
        .reportGraphPie {
            width:800px;
            height: 430px;
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 1000px;
            margin: 15px auto;
            background-color: #fff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
        }

        .report-card {
            background-color: #fff;
            border-radius: 8px;
            padding: 15px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }


        .title {
            font-size: 24px;
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
        }

        .value {
            font-size: 36px;
            font-weight: bold;
            color: #4CAF50;
            margin-bottom: 10px;
        }

        .unit {
            font-size: 18px;
            color: #666;
        }
        .blue-line {
            border: none;
            height: 2px;
            background-color: #6495ED;
            opacity: 0.7;
            margin: 5px 0;
        }
        .p-text {
            font-family: Arial, sans-serif;
            font-size: 16px;
        }
        .opseg-list li {
            margin-bottom: 8px;
        }
    </style>

</head>
<div>

<div class="container">

    <h1>Izvješće o ugljičnom otisku organizacije</h1>
    <p>{{ user.organizationName }}</p>

    <div class="report-card">
        <hr class="blue-line">
        <p style="font-size: 15px; margin-top:0.1vh">Vremenski interval: {{ startDate.format('Y-m-d') }} - {{ endDate.format('Y-m-d') }} </p>
        <p style="font-size: 15px; margin-top:0.05vh">Lokacija: {{ location }}</p>
        <p class="p-text">Ovaj izvještaj sažima rezultate analize ugljičnog otiska organizacije {{ user.organizationName }} za tekuću godinu. Analiza ugljičnog otiska temelji se na priznatom međunarodnom standardu 'The GHG Protocol: A Corporate Accounting and Reporting Standard'. Ovi izračuni temelje se na podacima dobivenim iz Hrvatske baze faktora emisija, koja služi za izračun emisija stakleničkih plinova organizacija. Ukupna količina obračunatih emisija stakleničkih plinova iznosi {{ totalCO2 }} t CO₂e.
        </p>
    </div>

    <div class="report-card">
        <hr class="blue-line">
        <p class="p-text">Važno je razumjeti različite kategorije emisija stakleničkih plinova. Ovaj pristup pomaže nam shvatiti kako pojedini sektori doprinose ukupnim emisijama. Kategorizacija emisija omogućuje nam da precizno identificiramo glavne izvore, postavimo ciljeve za smanjenje emisija i implementiramo učinkovite strategije za održivi ekološki balans i borbu protiv klimatskih promjena.</p>

        <p class="p-text">U nastavku je grafikon koji prikazuje iznos emisija CO2 u tonama za tekuću godinu, pružajući uvid u iznos doprinosa svakog sektora u ukupnim emisijama.</p>

        <div class="reportGraphBar"><canvas id="reportGraphBarSectorValue"></canvas></div>
    </div>

    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br><br>

    <div class="report-card">
        <p class="p-text">Ovaj grafikon prikazuje raspodjelu emisija CO2 za tekuću godinu, omogućuje uvid u odnos doprinosa između sektora.</p>
        <div class="reportGraphBar"><canvas id="reportGraphBarSectorPercentage"></canvas></div>
    </div>

    <br><br>

    <div class="report-card">
        <hr class="blue-line">
        <p class="p-text">Emisije stakleničkih plinova kategorizirane su u skupine tj. Opsege. Oni se razlikuju ovisno o tome gdje emisije nastaju - u samom poduzeću ili u procesima nabave i distribucije proizvoda:</p>
        <ul class="opseg-list">
            <li class="p-text">Opseg 1: Uključuje sve izravne emisije iz vlastitih ili kontroliranih izvora, poput poslovnih putovanja u službenim vozilima, izgaranja goriva u sustavima grijanja ili emisija iz proizvodnih procesa.</li>
            <li class="p-text">Opseg 2: Uključuje sve neizravne emisije iz proizvodnje kupljene energije koju koristi poduzeće, primjerice električna energija ili toplina. Ova energija se proizvodi izvan lokacije poduzeća koje je koristi. Ukoliko se koriste obnovljivi izvori energije za proizvodnju električne energije, u tom slučaju se ne evidentiraju emisije.</li>
            <li class="p-text">Opseg 3: Uključuje sve ostale neizravne emisije koje proizlaze iz proizvodnje sirovina, proizvoda ili usluga koje koristi poduzeće te iz poslovnih putovanja u vozilima koja nisu u vlasništvu poduzeća.</li>
        </ul>

        <p class="p-text">Redom, opsezi 1, 2 i 3 su doprinijeli s {{ scope1Percentage }}%, {{ scope2Percentage }}% i {{ scope3Percentage }}% u ukupnim emisijama stakleničkih plinova ove godine.</p>

        <div class="reportGraphPie"><canvas id="reportGraphPieScopePercentage"></canvas></div>
    </div>

    <div class="report-card">
        <hr class="blue-line">
        <p class="p-text">Važno je istaknuti diverzitet emisija stakleničkih plinova prema stakleničkom plinu, to pruža mogućnost za analizu doprinosa pojedinog plina u ukupnim emisijama stakleničkih plinova. Kategorizacija plinova također olakšava identifikaciju izvora emisija te otvara vrata za postavljanje ciljeva za smanjenje emisija i primjenu strategija za održivu ekološku ravnotežu.</p>
        <p class="p-text">U nastavku je prikazan graf koji ilustrira količinu emitiranih CO2, N2O, CH4 i ostalih stakleničkih plinova za tekuću godinu.</p>

        <div class="reportGraphBar"><canvas id="reportGraphBarGasValue"></canvas></div>
    </div>

</div>

   {#   <div class="reportGraphBar"><canvas id="reportGraphBarGasTotalValue"></canvas></div>
  #}

</div>
<script>
    var graphBarSectorValue = {{ graphBarSectorValue | json_encode | raw }};
    var graphBarSectorPercentage = {{ graphBarSectorPercentage | json_encode | raw }};
    var graphPieScopeValue = {{ graphPieScopeValue | json_encode | raw }};
    var graphPieScopePercentage = {{ graphPieScopePercentage | json_encode | raw }};
    var graphBarGasValue = {{ graphBarGasValue | json_encode | raw }};
    var graphBarGasPercentage = {{ graphBarGasPercentage | json_encode | raw }};

    // reportGraphBarSectorValue
    const dataBarSectorValue = {
        labels: ['Goriva', 'El. energija', 'Toplina', 'Putnički promet',
            'Teretni promet', 'rashladni uređaji', 'Prenamjena zemljišta', 'Otpad'],
        datasets: [{
            label: 'Tona CO2 po sektoru',
            data: graphBarSectorValue,
            backgroundColor: 'rgba(54, 162, 235, 0.5)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }]
    };

    const optionsBarSectorValue = {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    suggestedMin: 0,
                    suggestedMax: 100,
                }
            }]
        }
    };

    // reportGraphBarSectorPercentage
    const dataBarSectorPercentage = {
        labels: ['Goriva', 'El. energija', 'Toplina', 'Putnički promet',
            'Teretni promet', 'rashladni uređaji', 'Prenamjena zemljišta', 'Otpad'],
        datasets: [{
            label: 'Udio emisija stakleničkih plinova po sektoru',
            data: graphBarSectorPercentage,
            backgroundColor: 'rgba(54, 162, 235, 0.5)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }]
    };

    const optionsBarSectorPercentage = {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    suggestedMin: 0,
                    suggestedMax: 100,
                }
            }]
        }
    };

    // reportGraphPieScopePercentage
    const dataPieScopePercentage = {
        labels: ['Opseg 1', 'Opseg 2', 'Opseg 3'],
        datasets: [{
            label: 'Emisije stakleničkih plinova podijeljene u tri opsega',
            data: graphPieScopePercentage, // Values for each category
            backgroundColor: [
                'rgba(255, 99, 132, 0.5)', // Color for Category 1
                'rgba(54, 162, 235, 0.5)', // Color for Category 2
                'rgba(255, 206, 86, 0.5)' // Color for Category 3
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)', // Border color for Category 1
                'rgba(54, 162, 235, 1)', // Border color for Category 2
                'rgba(255, 206, 86, 1)' // Border color for Category 3
            ],
            borderWidth: 1.8
        }]
    };

    const optionsPieScopePercentage = {
        plugins: {
            title: {
                display: true,
                text: 'Emisije stakleničkih plinova podijeljene u tri opsega'
            },
            legend: {
                position: 'top'
            }
        }
    };

    // reportGraphBarGasValue
    const dataBarGasValue = {
        labels: ['CO2', 'CH4', 'N2O', 'Other'],
        datasets: [{
            label: 'Tona CO2eq emitiranog stakleničkog plina',
            data: graphBarGasValue,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
            borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(153, 102, 255)',
            ],
            borderWidth: 1
        }]
    };

    const optionsBarGasValue = {
        type: 'bar',
        data: dataBarGasValue,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
    };

</script>

<script type="text/javascript">

    'use strict';
    (function(setLineDash) {
        CanvasRenderingContext2D.prototype.setLineDash = function() {
            if(!arguments[0].length){
                arguments[0] = [1,0];
            }
            // Now, call the original method
            return setLineDash.apply(this, arguments);
        };
    })(CanvasRenderingContext2D.prototype.setLineDash);
    Function.prototype.bind = Function.prototype.bind || function (thisp) {
        var fn = this;
        return function () {
            return fn.apply(thisp, arguments);
        };
    };

    function drawGraphs() {
        new Chart(document.getElementById('reportGraphBarSectorValue').getContext('2d'), {
            type: 'bar',
            data: dataBarSectorValue,
            options: optionsBarSectorValue
        });
        new Chart(document.getElementById('reportGraphBarSectorPercentage').getContext('2d'), {
            type: 'bar',
            data: dataBarSectorPercentage,
            options: optionsBarSectorPercentage
        });
     /*   new Chart(document.getElementById('reportGraphBarGasTotalValue').getContext('2d'), {
            type: 'bar',
            data: dataAllGasTotalYearsValue,
            options: optionsAllGasTotalYearsValue
        });
       */
        new Chart(document.getElementById('reportGraphPieScopePercentage').getContext('2d'), {
            type: 'pie',
            data: dataPieScopePercentage,
            options: optionsPieScopePercentage
        });
        new Chart(document.getElementById('reportGraphBarGasValue').getContext('2d'), {
            type: 'bar',
            data: dataBarGasValue,
            options: optionsBarGasValue
        });
    }
    window.onload = function() {
        drawGraphs();
    };
</script>
</body>
</html>